<template>
  <div class="view">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div>
          <button
            class="button is-pulled-right"
            @click="isAddCustomerModalActive = true">
            Add New
          </button>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Phone Number </th>
            <th> Edit </th>
            <th> Delete </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="customer in allCustomers" :key="customer.id">
            <td> {{ customer.firstName }} </td>
            <td> {{ customer.lastName }} </td>
            <td> {{ customer.email }} </td>
            <td> {{ customer.phone }} </td>
            <td>
              <button class="button is-primary"
                      @click="openEditCustomerModal(customer)">
                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
              </button>
            </td>
            <td>
              <button class="button is-danger"
                      @click="openDeleteCustomerModal(customer.id)">
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <b-modal :active.sync="isAddCustomerModalActive">
        <add-customer></add-customer>
      </b-modal>

      <b-modal :active.sync="isEditCustomerModalActive">
        <edit-customer :customer-to-edit="customerToEdit"></edit-customer>
      </b-modal>

      <b-modal :active.sync="isDeleteCustomerModalActive">
        <delete-customer :customer-id="customerId"></delete-customer>
      </b-modal>
    </div>

  </div>
</template>


<script>

  import AddCustomer from './AddCustomer';
  import EditCustomer from './EditCustomer';
  import DeleteCustomer from './DeleteCustomer';

  export default {
    components: {
      AddCustomer,
      EditCustomer,
      DeleteCustomer
    },

    data() {
      return {
        allCustomers: [],
        isAddCustomerModalActive: false,
        isEditCustomerModalActive: false,
        isDeleteCustomerModalActive: false,
        customerToEdit: {},
        customerId: 0
      }
    },

    created() {
      this.getAllCustomers();
    },

    methods: {
      getAllCustomers() {
        axios.get('http://localhost:8081/customer/findAll')
          .then(
            response => {
              console.log(response);
              this.allCustomers = response.data
            },
            response => {
              console.log(response);
              console.log("GRESKAAAA");
            }
          );
      },

      openEditCustomerModal(customer) {
        this.customerToEdit = customer;
        this.isEditCustomerModalActive = true;
      },

      openDeleteCustomerModal(customerId) {
        this.isDeleteCustomerModalActive = true;
        this.customerId = customerId;
      }
    }

  }
</script>


<style>
  .view {
    margin-top: 50px;
  }
</style>
