<template>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete Customer</p>
      </header>

      <section class="modal-card-body">
        <p>Are you sure you want to delete customer?</p>
        <p v-show="showError" class="is-danger"> Server error </p>
      </section>

      <footer class="modal-card-foot">
        <button class="button is-danger"
                type="button"
                @click="deleteCustomer">
          Confirm
        </button>
        <button class="button"
                type="button"
                @click="$parent.close()">
          Close
        </button>
      </footer>
    </div>
</template>


<script>

  export default {

    props: ['customerId'],

    data() {
      return {
        showError: false
      }
    },

    methods: {
      deleteCustomer() {
        axios.put('http://localhost:8081/customer', this.customerId)
          .then(
            response => {
              console.log(response);
              this.$router.push('customers');
            },
            response => {
              console.log(response);
              this.showError = true;
            }
          );
      }
    }

  }
</script>


<style>

</style>
