<template>
  <form name="editCustomerForm"
        @submit.prevent="validateBeforeSubmit">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Customer Details</p>
      </header>

      <section class="modal-card-body">
        <div class="field">
          <label class="label"> First Name </label>
          <div class="control has-icons-left has-icons-right">
            <input type="text"
                   name="firstName"
                   class="input"
                   :class="{'is-danger': errors.has('firstName') }"
                   v-validate="'required|alpha'"
                   v-model="customer.firstName">
            <span v-if="errors.has('firstName')" class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
          </div>
          <p v-if="errors.has('firstName')" class="help is-danger"> {{ errors.first('firstName') }} </p>
        </div>

        <div class="field">
          <label class="label"> Last Name </label>
          <div class="control has-icons-left has-icons-right">
            <input type="text"
                   name="lastName"
                   class="input"
                   :class="{'is-danger': errors.has('lastName') }"
                   v-validate="'required|alpha'"
                   v-model="customer.lastName">
            <span v-if="errors.has('lastName')" class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
          </div>
          <p v-if="errors.has('lastName')" class="help is-danger"> {{ errors.first('lastName') }} </p>
        </div>

        <div class="field">
          <label class="label"> Email </label>
          <div class="control has-icons-left has-icons-right">
            <input type="email"
                   name="email"
                   class="input"
                   :class="{'is-danger': errors.has('email') }"
                   v-validate="'required|email'"
                   v-model="customer.email">
            <span v-if="errors.has('email')" class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
          </div>
          <p v-if="errors.has('email')" class="help is-danger"> {{ errors.first('email') }} </p>
        </div>

        <div class="field">
          <label class="label"> Phone </label>
          <div class="control has-icons-left has-icons-right">
            <input type="text"
                   name="phone"
                   class="input"
                   :class="{'is-danger': errors.has('phone') }"
                   v-validate="'required|numeric'"
                   v-model="customer.phone">
            <span v-if="errors.has('phone')" class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span>
          </div>
          <p v-if="errors.has('phone')" class="help is-danger"> {{ errors.first('phone') }} </p>
        </div>

        <p v-show="showError" class="is-danger"> Server error </p>
      </section>

      <footer class="modal-card-foot">
        <button class="button is-primary"
                type="submit">
          Submit
        </button>
        <button class="button"
                type="button"
                @click="$parent.close()">
          Close
        </button>
      </footer>
    </div>
  </form>
</template>


<script>

  export default {

    props: ['customerToEdit'],

    data() {
      return {
        showError: false
      }
    },

    computed: {
      customer() {
        console.log(this.customerToEdit);
        return Object.assign({}, this.customerToEdit);
      }
    },

    methods: {
      validateBeforeSubmit() {
        this.$validator.validateAll().then(result => {
          if(result) {
            this.editCustomer();
          }
        });
      },

      editCustomer() {
        axios.put('http://localhost:8081/customer', this.customer)
          .then(
            response => {
              console.log(response);
              this.$router.push('customers');
            },
            response => {
              console.log(response);
              this.showError = true;
            }
          );
      }
    }

  }
</script>


<style>

</style>
