<template>
  <div class="view">
    <div>
      AAAAAA
    </div>

  </div>
</template>


<script>
  import AddCustomer from './customer/AddCustomer'

  export default {
    components: {
      AddCustomer
    },

    data() {
      return {
        isAddCustomerModalActive: false
      }
    }
  }
</script>


<style>

</style>
