<template>
  <div class="columns view">
    <div class="column is-4 is-offset-4">
      <form name="loginForm"
            @submit.prevent="validateBeforeSubmit">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input"
                   :class="{'is-danger': errors.has('email') }"
                   type="email"
                   name="email"
                   placeholder="Enter your email"
                   v-validate="'required|email'"
                   v-model="user.email">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
            <span v-if="errors.has('email')" class="icon is-small is-right">
              <i class="fa fa-warning"></i>
            </span>
          </div>
          <p v-if="errors.has('email')" class="help is-danger"> {{ errors.first('email') }} </p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input"
                   :class="{'is-danger': errors.has('password') }"
                   type="password"
                   name="password"
                   placeholder="Enter your password"
                   v-validate="'required'"
                   v-model="user.password">
            <span class="icon is-small is-left">
              <i class="fa fa-key"></i>
            </span>
            <span v-if="errors.has('password')" class="icon is-small is-right">
              <i class="fa fa-warning"></i>
            </span>
          </div>
          <p v-if="errors.has('password')" class="help is-danger"> {{ errors.first('password') }} </p>
        </div>

        <div class="field">
          <button type="submit"
                  class="button is-primary is-pulled-right">
            Submit
          </button>
        </div>
      </form>

      <p v-show="showError" class="is-danger"> SERVER ERROR </p>
    </div>
  </div>
</template>

<script>
  export default {

    data() {
      return {
        user: {
          email: '',
          password: ''
        },

        showError: false
      }
    },

    methods: {
      validateBeforeSubmit() {
        this.$validator.validateAll().then(result => {
          if(result) {
            this.login();
          }
        });
      },

      login() {
        axios.post('http://localhost:8081/auth/login', this.user)
          .then(response => {
            console.log(response);
            this.$store.commit('login');
            this.$router.push('dashboard');
          })
          .catch(response => {
            console.log(response);
            this.showError = true;
          });
      },
    }

  }
</script>


<style>

</style>
