<template>
  <div class="columns view">
    <div class="column is-4 is-offset-4">
      <form name="registerForm"
            @submit.prevent="validateBeforeSubmit">
        <div class="field">
          <label class="label">First Name</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input"
                   :class="{'is-danger': errors.has('firstName') }"
                   type="text"
                   name="firstName"
                   placeholder="Enter your first name"
                   v-validate="'required'"
                   v-model="newUser.firstName">
            <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            <span v-if="errors.has('firstName')" class="icon is-small is-right">
              <i class="fa fa-warning"></i>
          </span>
          </div>
          <p v-if="errors.has('firstName')" class="help is-danger"> {{ errors.first('firstName') }} </p>
        </div>

        <div class="field">
          <label class="label">Last Name</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input"
                   :class="{'is-danger': errors.has('lastName') }"
                   type="text"
                   name="lastName"
                   placeholder="Enter your last name"
                   v-validate="'required'"
                   v-model="newUser.lastName">
            <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            <span v-if="errors.has('lastName')" class="icon is-small is-right">
              <i class="fa fa-warning"></i>
          </span>
          </div>
          <p v-if="errors.has('lastName')" class="help is-danger"> {{ errors.first('lastName') }} </p>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input"
                   :class="{'is-danger': errors.has('email') }"
                   type="email"
                   name="email"
                   placeholder="Enter your email"
                   v-validate="'required|email'"
                   v-model="newUser.email">
            <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            <span v-if="errors.has('email')" class="icon is-small is-right">
              <i class="fa fa-warning"></i>
          </span>
          </div>
          <p v-if="errors.has('email')" class="help is-danger"> {{ errors.first('email') }} </p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input"
                   :class="{'is-danger': errors.has('password') }"
                   type="password"
                   name="password"
                   placeholder="Enter your password"
                   v-validate="'required'"
                   v-model="newUser.password">
            <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                </span>
            <span v-if="errors.has('password')" class="icon is-small is-right">
              <i class="fa fa-warning"></i>
          </span>
          </div>
          <p v-if="errors.has('password')" class="help is-danger"> {{ errors.first('password') }} </p>
        </div>

        <div class="field">
          <label class="label">Confirm Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input"
                   :class="{'is-danger': errors.has('confirmPassword') }"
                   type="password"
                   name="confirmPassword"
                   placeholder="Confirm your password"
                   v-validate="'required'"
                   v-model="newUser.confirmPassword">
            <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                </span>
            <span v-if="errors.has('confirmPassword')" class="icon is-small is-right">
              <i class="fa fa-warning"></i>
          </span>
          </div>
          <p v-if="errors.has('confirmPassword')" class="help is-danger"> {{ errors.first('confirmPassword') }} </p>
        </div>

        <div class="field">
          <button type="submit"
                  class="button is-primary is-pulled-right">
            Submit
          </button>
        </div>
      </form>

      <p v-show="showError" class="is-danger"> Server error </p>
    </div>
  </div>
</template>


<script>
  export default {

    data() {
      return {
        newUser: {
          email: '',
          password: '',
          confirmPassword: '',
          firstName: '',
          lastName: ''
        },

        showError: false
      }
    },

    methods: {
      validateBeforeSubmit() {
        this.$validator.validateAll().then(result => {
          if(result) {
            this.register();
          }
        });
      },

      register() {
        console.log(this.newUser);
        axios.post('http://localhost:8081/auth/register', this.newUser)
          .then(response => {
            console.log(response);
            this.$router.push('dashboard');
          })
          .catch(response => {
            console.log(response);
            this.showError = true;
          });
      }
    }

  }
</script>


<style>

</style>
